# Entorno virtual
env/
venv/
ENV/

# Base de datos local (mejor no subirla para que empiece limpia)
*.db
*.sqlite3

# Archivos de Python basura
__pycache__/
*.pyc

# Carpetas de usuario
.vscode/
.idea/
static/uploads/platos/*
!static/uploads/platos/.gitkeep